<#macro header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Chuck Norris App</title>
</head>
<body>
<h1>Chuck Norris App</h1>
</#macro>

<#macro footer>
</body>
</html>
</#macro>